@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  font-family: "Noto Sans", sans-serif;
}

:root {
  --main-color: #4FA74F;
  --main-duration: 0.5s;
}
::selection {
  background-color: var(--main-color);
  color: white;
}

a {
  text-decoration: none !important;

}

.text-main {
  color: var(--main-color) !important;
}

.bg-main {
  background-color: var(--main-color) !important;
}



 form label {
  transform: translateY(60%);
  position: absolute;
  z-index: -1;
  transition-duration: var(--main-duration);
  font-size: 1rem;

}

input {
  color: var(--main-color) !important;
  box-shadow: none !important;
}

input:focus {
  border: .11rem solid var(--main-color) !important;
}

.show-label {
  transform: translateY(-110%);
}

.error {
  transition-duration: var(--main-duration);
  color: red;
  animation-name: shake;
  animation-duration: var(--main-duration);
}

/* Error shake animation */

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Responsive Design */
@media (min-width: 769px) {
  form .row {
    width: 50% !important;
  }
}