.text-main {
  color: #5e8827;
}

.bg-main {
  background-color: #5e8827 !important;
}

label {
  transform: translateY(60%);
  position: absolute;
  z-index: -1;
  transition-duration: 0.5s;
  font-size: 1rem;

}

input {
  color:#5e8827 !important
}

.show-label {
  transform: translateY(-110%);

}

/* Responsive Design */
@media (min-width: 769px) {
  form .row {
    width: 50% !important;
  }
}