@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  font-family: "Noto Sans", sans-serif;
}

:root {
  --main-color: #4FA74F;
  --main-duration: 0.5s;
}
::selection {
  background-color: var(--main-color);
  color: white;
}

a {
  text-decoration: none !important;

}

.text-main {
  color: var(--main-color) !important;
}

.bg-main {
  background-color: var(--main-color) !important;
}

.navBar {
  top:0 !important;
  z-index: 1000 !important;
}



 form label {
  transform: translateY(60%);
  position: absolute;
  z-index: -1;
  transition-duration: var(--main-duration);
  font-size: 1rem;

}

input {
  color: var(--main-color) !important;
  box-shadow: none !important;
}

input:focus {
  border: .11rem solid var(--main-color) !important;
}

.show-label {
  transform: translateY(-110%);
}

.error {
  transition-duration: var(--main-duration);
  color: red;
  animation-name: shake;
  animation-duration: var(--main-duration);
}

/* Error shake animation */

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Responsive Design */
@media (min-width: 769px) {
  form .row {
    width: 50% !important;
  }
}

.rating-color {
  color : #FFDF00 !important
}

.product .btn {
  overflow: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: var(--main-duration);
}

.product:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: var(--main-duration);
  transform: scale(1.05);
}

.product:hover .btn {
  opacity: 1;
  transform: translateY(0);
}

.content-loader {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.content-loader:before {
    content: '';
    width: 3rem;
    height: .3125rem;
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: calc(3.75rem + 50%);
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }
  .content-loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--main-color);
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 50%;
    transform: translateY(-50% , -50%) !important;
    border-radius: 4px;
  }
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
